# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
venv/
.env/
.env

# Data
/data/*.db
data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.log

# Streamlit
.streamlit/secrets.toml
